# server env vars 
SERVER_HOST=0.0.0.0
SERVER_PORT=8081
SERVER_LISTEN_LIMIT=10
SERVER_KEEP_ALIVE_TIME=10
SERVER_READ_TIMEOUT=10
SERVER_WRITE_TIMEOUT=10
SERVER_SHUTDOWN_TIME=10

# mysql env vars 
MYSQL_HOST=bookclub_db
MYSQL_PORT=3306
MYSQL_DATABASE=arj
MYSQL_USER=arj
MYSQL_PASSWORD=Password1

# communication env vars 
ARJ_BACKEND_URL=https://staging-api.arj.today
BOOKS_API_URL=https://www.googleapis.com/books

## dev vars 
SEED_DB=false